/* .title__post {
  font-size: 2rem !important;
} */
.icon {
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.3);
  transition: all 0.5s ease;
}
.icon-delete {
  color: rgb(249, 74, 74);
}
.icon-edit {
  color: rgb(240, 175, 90);
}
